# === Unity ===
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Bb]ee/
UserSettings/
sysinfo.txt
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# === Crash Reports ===
sysinfo.txt

# === Visual Studio cache ===
.vs/
.vscode/

# === OS ===
.DS_Store
Thumbs.db

# === Rider ===
.idea/

# === Other ===
*.apk
*.aab
